
body, h1, button, div, input, label, select, option {
	margin: 0;
	padding: 0;
}

body {
	width: 300px;
	padding: 20px;
	font: lighter 16px "Microsoft Yahei";
}

h1 {
	margin-bottom: 20px;
	color: #333;
	font-size: 20px;
	font-weight: normal;
}

button {
	float: left;
	padding: 10px;
	margin: 0 20px 20px 0;
	color: #fff;
	border: 0;
	outline: 0;
}

button:hover {
	box-shadow: 0 0 10px #666;
}

#upload {
	background: #058;
}

#upload:hover {
	background: #036;
}

#download {
	background: #085;
}

#download:hover {
	background: #063;
}

#rotate {
	background: #508;
}

#rotate:hover {
	background: #306;
}

#container {
	clear: both;
	width: 100%;
}

#container img {
	margin-bottom: 20px;
	box-shadow: 0 0 10px #666;
}

label {
	display: block;
	width: 100%;
	margin-bottom: 20px;
}

input {
	outline: 0;
	line-height: 1.5;
	margin-left: 20px;
}

select {
	margin-left: 20px;
}

#margin {
	width: 50px;
}
