
body, h1, button, div, input, select, option {
	margin: 0;
	padding: 0;
}

body {
	padding: 20px;
	font: lighter 20px Tahoma,"Microsoft Yahei",sans-serif;
}

h1 {
	color: #333;
	font-size: 24px;
	font-weight: normal;
}

button {
	border: 0;
	outline: 0;
	display: none;
	font-size: 16px;
	padding: 10px 20px;
	margin: 20px 20px 0 0;
	background: #fff;
	border: 1px solid #fff;
	transition: all 0.1s;
}

#upload {
	display: inline-block;
	color: #4295f4;
	border-color: #4295f4;
}

#upload:hover {
	color: #fff;
	background: #4285f4;
}

#rotate {
	color: #fbbc05;
	border-color: #fbbc05;
}

#rotate:hover {
	color: #fff;
	background: #fbbc05;
}

#print {
	color: #ea4335;
	border-color: #ea4335;
}

#print:hover {
	color: #fff;
	background: #ea4335;
}

#save {
	color: #34a853;
	border-color: #34a853;
}

#save:hover {
	color: #fff;
	background: #34a853;
}

#container {
	clear: both;
	width: 100%;
}

#container img {
	margin-top: 20px;
	box-shadow: 0 0 10px #666;
}

.settings {
	clear: both;
}

.setting {
	position: relative;
	margin-top: 20px;
}

input {
	outline: 0;
	line-height: 1.5;
	margin-left: 20px;
	padding: 5px 10px;
	font-size: 16px;
}

select {
	margin-left: 20px;
	font-size: 16px;
	padding: 5px;
}
